.copyright {
   background: getColor('global-bacground');
   padding-bottom: 20px;

   &__title {
      font-size: 12px;
      line-height: 1.25;
      opacity: 0.75;

      text-align: center;
   }
}
