.container {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding-top: 10px;
   padding-bottom: 10px;

   &::before {
      content: '';
      @include positioning(absolute);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 480px;
      height: 1px;
      background: linear-gradient(
         90deg,
         rgba(58, 91, 102, 1) 0%,
         rgba(255, 153, 51, 1) 15%,
         rgba(255, 153, 51, 1) 83%,
         rgba(58, 91, 102, 1) 100%
      );
      @media screen and (min-width: 768px) {
         width: 768px;
      }
      @media screen and (min-width: 1200px) {
         width: 1200px;
      }
   }
}
// ----- Logo -----
.logo {
   width: 170px;
   height: 61px;
}

.header {
   @include positioning;

   background-color: getColor('primary-color');
   // ----- мобильное меню ------
   // ----- кнопка меню --------
   &__button-mobail {
      background: none;
      border: none;
      padding: 0;
   }

   // ------ icon -----
   &__icon {
      fill: getColor('white-text');
      transition: fill $timing-function-cubic;
   }

   &__icon:hover,
   &__icon:focus {
      fill: getColor('secondary-color');
   }

   &__icon-menu,
   &__icon-cross {
      transition: display $timing-function-cubic;
   }

   &.is-hidden .header__icon-menu {
      display: none;
   }

   &__icon-cross {
      display: none;
   }

   &.is-hidden .header__icon-cross {
      display: block;
   }

   // ----- menu -----
   &__menu-mobail {
      display: flex;

      @include positioning(absolute);
      left: -100%;
      top: 100%;
      width: 100vw;
      height: calc(100vh - 81px);

      justify-content: center;
      align-items: center;

      background-color: getColor('primary-color');

      transition: left $timing-function-menu;
   }

   &.is-hidden .header__menu-mobail {
      left: 0;
   }
}
// ----- navigation -----
.nav {
   @include positioning;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   &__list {
      @extend %padding-list;
      margin-bottom: 50px;
   }

   &__item {
      text-align: center;

      &:not(:last-child) {
         margin-bottom: $card-set-gap;
      }

      &--position {
         @include positioning;
      }
   }

   &__link,
   &__secondary-link {
      font-size: 19px;
      letter-spacing: 0.03em;
      line-height: 1.17;

      text-decoration: none;

      color: getColor('white-text');

      transition: color $timing-function-cubic;

      &:hover,
      &:focus {
         color: getColor('secondary-color');
      }
   }

   &__secondary-link {
      white-space: nowrap;
   }

   &.is-open .nav__link--secondary {
      display: block;
      margin-bottom: 147px;
   }

   &__link--secondary {
      display: block;
      margin-bottom: 20px;
   }

   &__open-secondary-menu {
      fill: getColor('white-text');
      transform: rotate(90deg);
      transition: transform $timing-function-cubic;
   }

   &.is-open .nav__open-secondary-menu {
      transform: rotate(150deg);
   }

   &__open-secondary-menu {
      fill: currentColor;
   }

   // ----- Вторичное меню -----
   &__secondary-list {
      @extend %padding-list;
      @include positioning(absolute);

      // display: none;
      pointer-events: none;
      top: -120px;
      left: -40px;
      opacity: 0;

      transition: top $timing-function-cubic, opacity $timing-function-cubic;
   }

   &__secondary-list::before {
      content: '';
      @include positioning(absolute);
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 350px;
      height: 1px;
      background: linear-gradient(
         90deg,
         rgba(58, 91, 102, 1) 0%,
         rgba(255, 153, 51, 1) 15%,
         rgba(255, 153, 51, 1) 83%,
         rgba(58, 91, 102, 1) 100%
      );
   }

   &.is-open .nav__secondary-list {
      pointer-events: all;
      opacity: 1;

      top: 20px;
   }

   &__secondary-item:not(:last-child) {
      margin-bottom: 20px;
   }

   &__secondary-item:first-child {
      margin-top: 20px;
   }
}

// ------ Консультация ------
.consultation {
   padding-top: 9px;
   padding-bottom: 9px;
   padding-left: 35px;
   padding-right: 35px;
   line-height: 1.17;
   font-size: 19px;
   letter-spacing: 0.03em;
   font-weight: 600;
   text-decoration: none;
   color: getColor('white-text');
   border: 2px solid getColor('secondary-color');
   border-radius: 8px;

   transition: color $timing-function-cubic, border-color $timing-function-cubic,
      background-color $timing-function-cubic;

   &:hover,
   &:focus {
      color: getColor('secondary-color');
      border-color: getColor('white-text');
      background-color: getColor('accent');
   }
}
