.container {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding-top: 10px;
   padding-bottom: 10px;
}
// ----- Logo -----
.logo {
   width: 170px;
   height: 61px;
}

.header {
   @include positioning;

   background-color: getColor('primary-color');
   // ----- мобильное меню ------
   // ----- кнопка меню --------
   &__button-mobail {
      background: none;
      border: none;
      padding: 0;
   }

   // ------ icon -----
   &__icon {
      fill: getColor('white-text');
      transition: fill $timing-function-cubic;
   }

   &__icon:hover,
   &__icon:focus {
      fill: getColor('secondary-color');
   }

   &__button-mobail.is-hidden .header__icon-menu {
      display: none;
   }

   &__icon-cross {
      display: none;
   }

   &__button-mobail.is-hidden .header__icon-cross {
      display: block;
   }

   // ----- menu -----
   &__menu-mobail {
      display: none;

      position: absolute;
      left: 0;
      top: 100%;
      width: 100vw;
      height: calc(100vh - 81px);

      justify-content: center;
      align-items: center;

      background-color: getColor('primary-color');
   }

   &.is-hidden .header__menu-mobail {
      display: flex;
   }

   // &.is-hidden .nav__secondary-list {
   //    display: block;
   // }
}
// ----- navigation -----
.nav {
   @include positioning;

   &__list {
      @extend %padding-list;
      margin-bottom: 50px;
   }

   &__item {
      text-align: center;

      &:not(:last-child) {
         margin-bottom: $card-set-gap;
      }

      &--position {
         @include positioning;
      }
   }

   &__link,
   &__secondary-link {
      font-size: 16px;
      letter-spacing: 0.03em;
      line-height: 1.17;

      text-decoration: none;

      color: getColor('white-text');

      transition: color $timing-function-cubic;

      &:hover,
      &:focus {
         color: getColor('secondary-color');
      }
   }

   &__open-secondary-menu {
      fill: getColor('white-text');
      transform: rotate(90deg);
   }

   &__open-secondary-menu {
      fill: currentColor;
   }

   // ----- Вторичное меню -----
   &__secondary-list {
      @extend %padding-list;

      display: none;

      @include positioning;
      top: 30px;
      left: 0;
   }

   &.is-open .nav__secondary-list {
      display: block;
   }

   &__secondary-item {
      margin-bottom: 20px;
   }
}
